* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
::placeholder {
    color: aqua;
    opacity: 0.6;
}
.container {
    max-width: 80%;
    padding: 20px;
    margin:auto;
}
p {
    font-family: 'Barlow', sans-serif;
}

.container h1, p {
    text-align: center;
    color:springgreen;
}

input, textarea {
    color: rgb(247, 241, 50);
    display: block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    outline: none;
    width:80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;
    background: transparent;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color:white;
    background: rgb(13, 67, 228);
    padding: 15px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

img {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}

.submitMsg {
    font-size: 25px;
    color: rgb(251, 167, 72);
    font-family: 'Roboto Slab', serif;
}